.link-list {
  position: relative;
  //flex: 1 1 calc(50% - 1px);
  width: calc(50% - 1px);
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.link-drag-and-drop{
  width: 80%;
}
