.link-list {
  position: relative;
  width: calc(50% - 1px);
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.link-drag-and-drop{
  width: 80%;
}

.add-link-modal__button{
  display: block !important;
  margin-bottom: 2rem !important;
  min-height: auto !important;
}
