.list-filter {
  position: absolute;
  top: 1rem;
  bottom: 0;
  width: 4rem;
}

.list-filter_link{
  left: 0;
}

.list-filter_folder{
  right: 0;
}

.filter__toggle {
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.filter__toggle_active {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.filter-links__menu {
  transform: translateX(-100%);
}
.filter-folders__menu {
  transform: translateX(110%);
}

.filter__divider{
  height: 1px;
  border: 1px solid rgba(34, 36, 38, 0.25);
}

.filter-links-enter {
  transform: translateX(-100%);
  transition: all 300ms;
}

.filter-links-enter-active {
  transform: translateX(0);
}

.filter-links-enter-done {
  transform: translateX(0);
}

.filter-links-exit {
  transform: translateX(0);
}

.filter-links-exit-active {
  transform: translateX(-100%);
  transition: all 300ms;
}

.filter-folders-enter {
  transform: translateX(110%);
  transition: all 300ms;
}

.filter-folders-enter-active {
  transform: translateX(10%);
}

.filter-folders-enter-done {
  transform: translateX(10%);
}

.filter-folders-exit {
  transform: translateX(10%);
}

.filter-folders-exit-active {
  transform: translateX(110%);
  transition: all 300ms;
}
