.add-link-modal__button {
  max-width: 3rem;
}

.add-link-modal {
  width: 20rem;

}

.add-form {
  padding: 1rem;
}

.add-link-modal__submit{
  margin-left: 50% !important;
  transform: translateX(-50%);
}

.divider {
  width: 100%;
  background-color: transparent;
}
