.search-result {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.search__list-item{
  margin-left: 0.5rem;
  background-color: #EEEDED;

}

.search-divider {
  margin-top: 0 !important;
}
